.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.social-login {
    margin-top: 20px;
}

.social-login p {
    text-align: center;
    margin-bottom: 10px;
}

.fb-login,
.gg-login {
    width: 100%;
    padding: 10px;
    background-color: #3b5998; /* Màu Facebook */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gg-login {
    background-color: #db4a39; /* Màu Google */
}
.register-link {
    margin-top: 10px;
    text-align: center;
}

.register-link a {
    color: #337ab7; /* Màu liên kết */
}


